# -------------------------
# Visual Studio (legacy)
# -------------------------
.vs/
*.user
*.suo

# jeœli NIE u¿ywasz vcxproj ? zostaw
*.sln
*.vcxproj*
*.filters

# -------------------------
# CMake
# -------------------------
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build.ninja

# build directories
/out/
/build/

# VS / CMake outputs
/x64/
/Debug/
/Release/

# -------------------------
# Binaries
# -------------------------
*.exe
*.dll
*.pdb
*.ilk

# -------------------------
# Compilation artifacts
# -------------------------
*.obj
*.log
*.tlog
*.recipe

# -------------------------
# Qt
# -------------------------
*.qmlc
*.jsc
*.rcc

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db