# Visual Studio
.vs/
*.user
*.suo
*.sln
*.vcxproj*

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build.ninja
compile_commands.json
.ninja_deps
.ninja_log

/out/
/build/

# Build outputs
/x64/
/Debug/
/Release/

# Binaries
*.exe
*.dll
*.pdb
*.ilk

# Compilation
*.obj
*.log
*.tlog
*.recipe

# Qt
*.qmlc
*.jsc
*.rcc

# OS
.DS_Store
Thumbs.db